:root {
    --main-white: #ffff;
    --main-black: #000;
    --primary-pink:pink;
  }

/*  Main-page-css::Start-*/

.main_page_wrapper {
    padding: 15px;
    background-color: var(--primary-pink);
    height:100vh;
}

.main_page_card_wrapper .card {
    background-color:var(--main-white);
    border: 0px;
    box-shadow: 0px 0px 5px 5px rgba(83, 83, 83, 0.08);
}

.main_page_card_wrapper .card .card-body {
    text-align: center;
}

.main_page_card_wrapper .card .card-body p {
    color: var(--main-black);
    font-weight: 600;
}

.main-page-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0px  30px 0px;
}

/*  Main-page-css::End-*/